# Node/React
node_modules/
frontend/node_modules/

# Python
backend/venv/
*.pyc

# Environment variables / secrets
.env

# Optional extras from the Python template
__pycache__/
*.pyo
*.pyd

# Visual Studio Code
.vscode/

# Misc
*.log
.DS_Store
